<% provide(:page_title, "Home") %>
  <% provide(:home_active, "active") %>
    <div class="homepage text-center ">
      <span class="center">
        <%=image_tag("Passport.jpg")%>
      </span>
      <h1 class="mt-1">Chidozie Nnachor</h1>
      <div class="strongpoints">
        <i class="fas fa-thermometer-half"></i>
        <span>Developer --</span>
        <i class="fas fa-thermometer-three-quarters"></i>
        <span>Web Designer --</span>
        <i class="fas fa-thermometer-full"></i>
        <span>Writer</span>
      </div>
      <div class="icons-social">
        <a target="_blank" href="https://github.com/Odogwudozilla">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="www.linkedin.com/in/chidoziennachor">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://twitter.com/odogwudozilla">
          <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" href="https://stackoverflow.com/story/odogwudozilla">
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a target="_blank" href="https://medium.com/@odogwudozilla">
          <i class="fab fa-medium"></i>
        </a>
        <a target="_blank" href="https://sourcerer.io/odogwudozilla">
          <i class="fab fa-discourse"></i>
        </a>
        <a target="_blank" href="https://bitbucket.org/Odogwudozilla/">
          <i class="fab fa-bitbucket"></i>
        </a>
      </div>
    </div>
    <hr class="style17">
    <div class="summary card m-2 p-5">
      <div class="summary-text container ">
        <h6>
          Hey there!
          <br>
          <br> Welcome to my portfolio and blog page.
          <br> I am a fledgling web developer with a keen interest in breaking new grounds in Information Technology and Business
          Analytics. I am especially interested in using technology to both predict and change behaviour positively and building
          efficient data systems.
          <br> You can checkout my
          <a href="#portfolio">career timeline</a>
          <br>
          <br> I enlisted into the Software/Technology sector (a journey which began precisely November 2017) in a career shift
          that is better attuned to my interests, and so far, the road, though rough, has been worth every yard of it. My
          primary programming language is Ruby. I'm probably not a
          <a target="_blank" href="https://www.amazon.co.uk/Well-Grounded-Rubyist-David-Black/dp/1933988657/ref=sr_1_2?ie=UTF8&qid=1530229644&sr=8-2&keywords=the+well+grounded+rubyist">well-grounded rubyist</a> yet, but I know enough to develop a fully functional web application, like this site.
          <br>
          <br> Feel free to have a look at my
          <%= link_to 'Blog', posts_path %>.
        </h6>


      </div>

    </div>
    <div class="timeline-header">
      <hr class="style17">
      <h2 class="mb-0 text-center">
        Career Timeline
      </h2>
      <hr class="style17">
    </div>
    <div class="splash card-group p-3 mt-0">

      <div class="front-img col-sm-10 col-lg-5 col-md-6 mt-3">
        <div class="image-left">
          <%=image_tag("Dozzy11.jpg")%>
        </div>


        <div class="timeline-container-left">
          <div class="timeline card p-4">
            <h4>Errm....</h4>
            <h6>Would you like to see the full resume instead?</h6>
          </div>
        </div>

      </div>

      <div class="col-lg-7 col-md-6 col-sm-12">
        <div class="portfolio"></div>
        <a class="anchor" id="portfolio"></a>
        <div class="timeline-container">
          <div class="timeline card p-4">
            <h4>Currently...</h4>
            <h6>Building a database management system for the Scottish Rural College (SRUC) as a part of the group project for
              the MSc programme. You can view the project
              <a target="_blank" href="https://sruc.herokuapp.com">here.</a>
            </h6>
          </div>
        </div>

        <div class="timeline-container">
          <div class="timeline card p-4">
            <h4>2017 - 2018</h4>
            <h6>MSc,
              <a target="_blank" href="https://www.abdn.ac.uk/study/postgraduate-taught/degree-programmes/133/information-technology/">Information Technology,</a> University of Aberdeen
              <ul>
                <li>Agile Software Development</li>
                <li>Programming with Ruby</li>
                <li>Test-Driven Development</li>
              </ul>
            </h6>
          </div>
        </div>

        <div class="timeline-container">
          <div class="timeline card p-4">
            <h4>2014 - 2016</h4>
            <h6>
              <strong>Banking Assistant</strong> –
              <a target="_blank" href="https://www.firstbanknigeria.com/">First Bank Nigeria</a>
              <ul>
                <li>Customer Relationship Management</li>
                <li>Vault Management</li>
                <li>Business Analysis</li>
              </ul>
            </h6>
          </div>
        </div>


        <div class="timeline-container">
          <div class="timeline card p-4">
            <h4>2010 - 2013</h4>
            <h6>
              <ul>
                <li>2013: Glaxonet Technologies</li>
                <li>2012: National Youth Service Corps
                  <a target="_blank" href="http://www.nysc.gov.ng/aboutscheme.html">(NYSC)</a>
                </li>
                <li>2010: Degree in Economics
                  <a target="_blank" href="http://economics.unn.edu.ng/course-modules/">(UNN)</a>
                </li>
              </ul>
            </h6>
          </div>
        </div>


      </div>
    </div>