<% provide(:page_title, "Home") %>
<% provide(:home_active, "active") %>
<div class="homepage text-center p-2 ">
  <span class="center">
    <%= image_tag("Passport2.jpg") %>
  </span>
  <h1 class="mt-1">Chidozie Nnachor</h1>
  <div class="strongpoints">
    <i class="fas fa-thermometer-three-quarters"></i>
    <span>Software Engineer --</span>
    <i class="fas fa-thermometer-half"></i>
    <span>Social Scientist --</span>
    <i class="fas fa-thermometer-full"></i>
    <span>Writer</span>
  </div>
  <div class="icons-social">
    <a target="_blank" rel="noopener" href="https://github.com/Odogwudozilla">
      <i class="hvr-bounce-in fab fa-github"></i>
    </a>
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/chidoziennachor">
      <i class="hvr-bounce-in fab fa-linkedin"></i>
    </a>
    <a target="_blank" rel="noopener" href="https://twitter.com/odogwudozilla">
      <i class="hvr-bounce-in fab fa-twitter"></i>
    </a>
    <a target="_blank" rel="noopener" href="https://stackoverflow.com/users/6795180/chidozie-nnachor">
      <i class="hvr-bounce-in fab fa-stack-overflow"></i>
    </a>
    <a target="_blank" rel="noopener" href="https://medium.com/@odogwudozilla">
      <i class="hvr-bounce-in fab fa-medium"></i>
    </a>
    <a target="_blank" rel="noopener" href="https://sourcerer.io/odogwudozilla">
      <i class="hvr-bounce-in fab fa-discourse"></i>
    </a>
    <a target="_blank" rel="noopener" href="https://bitbucket.org/Odogwudozilla/">
      <i class="hvr-bounce-in fab fa-bitbucket"></i>
    </a>
  </div>
</div>
<hr class="style17">
<div class="summary card">
  <div class="summary-text p-3 text-justify ">
    <h6>
      Hey there!
      <br>
      <br> Welcome to my portfolio and blog page.
      <br> I am a fledgling web developer with a keen interest in breaking new grounds in Information Technology and
      Business Analytics. I am especially interested in using technology to both predict and change behaviour
      positively
      and building efficient data systems.
      <br> You can checkout my
      <a href="#portfolio">career timeline</a>.
      <br>
      <br> I enlisted into the Software/Technology sector (a journey which began precisely November 2017) in a career
      shift that is better attuned to my interests, and so far, the road, though rough, has been worth every yard of
      it. I started programming in Ruby. I have fallen is love with Java, hence, it is not my primary language of
      choice.
      <br>
      <!--      <br> Feel free to have a look at my -->
      <!--      <%#= link_to 'Blog', posts_path %>.-->
    </h6>


  </div>

</div>
<div class="timeline-header">
  <hr class="style17">
  <h2 class="pt-3 pb-3 mb-0 text-center">
    Career Timeline
  </h2>
  <hr class="style17">
</div>
<div class="splash card-group p-3 mt-0">

  <div class="front-img col-sm-10 col-md-6 col-lg-5 mt-3">
    <div class="image-left">
      <%= image_tag("Dozzy12.jpg") %>
    </div>


    <div class="timeline-container-left">
      <div class="timeline card p-4">
        <h4>Volunteer efforts </h4>

        <hr class="my-2">
        <h6 class="">
          <strong>Nairaland </strong>Web Scraper:
          <ul>
            <li><a target="_blank" rel="noopener" href="https://www.nairaland.com/">Nairaland</a> has thousands of posts
              per thread. The rationale for this is to develop a working way to quickly scour through the particular
              thread and sift out the posts with the highest number of "likes", which is actually the most efficient way
              of determining the
              posts that resonated with the readers most. View the repo here on
              <a target="_blank" rel="noopener" href="https://github.com/Odogwudozilla/Nairaland"> Github.</a>
            </li>
          </ul>

          <hr class="my-2">
          <h6 class="">
            <strong>Cantcha</strong>(CodeTheCity, Aberdeen):
            <ul>
              <li>A Code-The-City Aberdeen project themed
                <a target="_blank" rel="noopener"
                   href="https://codethecity.org/hack-weekends/code-the-city-13-hack-societys-relationship-with-alcohol/">“Hacking
                  Our Relationship With Alcohol”</a>, to demonstrate how difficult it is to tell an alcoholic drink
                label
                from a non-alcoholic one by the ordinary user, and using machine learning to develop a captcha that can
                catch these grey areas. Started <a target="_blank" rel="noopener"
                                                   href="https://github.com/CodeTheCity/cantcha"> (May 2018).</a>
              </li>
            </ul>
            <hr class="my-2">

            <span>
              <%= link_to 'Download Full Resume', 'Nnachor_CV.pdf', class: "nav-link" %></span>
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-6 col-lg-7 ">
    <div class="portfolio"></div>
    <a class="anchor" id="portfolio"></a>

    <div class="timeline-container">
      <div class="timeline card p-4">
        <h4>Sept 2019 – Present</h4>
        <h6><b>Software Engineer</b> at
          <a target="_blank" rel="noopener" href="https://www.keylane.com/">Keylane</a>, a leading SaaS platform
          provider supporting all core processes of insurers and pension providers across Benelux, DACH and the Nordics.
          <ul>
            <li><b>Tech Camp: (Sept - Nov, 2019)</b>.</li>
            <ul>
              <li>3-month training.</li>
            </ul>
            <li><b>Junior Developer (Contracts Cluster): Nov 2019 - Present</b>
              <ul>
                <li>Implementing Customer requirements through <i>Requests For Change (<b>RFCs</b>)</i>. Team
                  Concentration on aspects of company SAAS software related to policy contracts (!Group Contracts).
                </li>
                <li>2-week Sprints (Reviews, Retrospectives, Planning).</li>
                <li>Code Reviews.</li>
                <li>Test-Driven Development (TDD).</li>
                <li>Regression testing.</li>
                <li>Bugfixing.</li>
              </ul>
            </li>
          </ul>
        </h6>
      </div>
    </div>

    <div class="timeline-container">
      <div class="timeline card p-4">
        <h4>Jan 2018 - Jan 2019</h4>
        <h6 class="mb-0">
          <strong>Jan 2019:</strong> MSc,
          <a target="_blank" rel="noopener"
             href="https://www.abdn.ac.uk/study/postgraduate-taught/degree-programmes/133/information-technology/">Information
            Technology,
          </a> University of Aberdeen
          <ul>
            <li>Agile Software Development</li>
            <li>Programming with Ruby</li>
            <li>Test-Driven Development</li>
            <li>Systems Analysis & Design</li>
            <li>Information Security</li>
            <li>Database Systems and Big Data</li>

          </ul>
        </h6>
      </div>
    </div>

    <div class="timeline-container">
      <div class="timeline card p-4">
        <h4>May 2018 – Aug 2018</h4>
        <h6>Built a database management system for the Scotland's Rural College
          <a target="_blank" rel="noopener" href="https://www.sruc.ac.uk/">(SRUC)</a> crop yield field trials which
          includes visualisation of the data for public consumption (Ruby on Rails, TDD, SQL, Postgresql, MVC
          frameworks; Scrum). You can view a prototype of the project
          <a target="_blank" rel="noopener" href="https://sruc.herokuapp.com">here.</a>
        </h6>
      </div>
    </div>

    <div class="timeline-container">
      <div class="timeline card p-4">
        <h4>2017</h4>
        <h6>
          <strong>2017 Award:</strong> Recipient, Nigeria Liquefied Natural Gas (NLNG)
          <a target="_blank" rel="noopener" href="http://www.nlng.com/Our-CSR/Pages/Scholarships.aspx">Postgraduate
            Scholarship</a>
        </h6>
        <h6>
          <strong>Logistics Officer, 2017 - 2018:</strong> Glaxonet Technologies, Onitsha, Nigeria
          <ul>
            <li>Develop and delineate the marketing strategy of the firm</li>
            <li>Feasibility studies</li>
          </ul>
        </h6>
      </div>
    </div>

    <div class="timeline-container">
      <div class="timeline card p-4">
        <h4>2014 - 2016</h4>
        <h6>
          <strong>Banking Assistant</strong> –
          <a target="_blank" rel="noopener" href="https://www.firstbanknigeria.com/">First Bank Nigeria</a>
          <ul>
            <li>Customer Relationship Management</li>
            <li>Vault Management</li>
            <li>Business Analysis</li>
          </ul>
        </h6>
      </div>
    </div>


    <div class="timeline-container">
      <div class="timeline card p-4">
        <h4>2010 - 2013</h4>
        <h6>
          <ul>
            <li>2013: Glaxonet Technologies</li>
            <li>2012: National Youth Service Corps
              <a target="_blank" rel="noopener" href="http://www.nysc.gov.ng/aboutscheme.html">(NYSC)</a>
            </li>
            <li>2010:
              <a target="_blank" rel="noopener" href="http://economics.unn.edu.ng/course-modules/">Degree in
                Economics</a>,
              University of Nigeria, Nsukka (UNN)
            </li>
          </ul>
        </h6>
      </div>
    </div>


  </div>
</div>