# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

#Omni Auth Facebook
FACEBOOK_KEY: "138820636991761" 
FACEBOOK_SECRET: "bb6d21c20713b00c091990a579ce3591"
#OmniAuth Github
APP_ID: "83d198af40769e5729e4"
APP_SECRET: "2e2f5bd997e9bcb05b18b608090284c74e2693ad"

# Amazon s3 
S3_KEY: "AKIAIFORKHBRHKIMVMCA"
S3_SECRET: "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"
S3_BUCKET: "odogwu-portfolio"
S3_REGION: "us-east-2"