<% provide(:page_title, "Edit #{@post.title}") %>
  <% provide(:post_active, "active") %>
    <div>

      <h1 class="text-center">Editing Post</h1>
      <hr>

      <%= render 'form', post: @post %>


    </div>