<% provide(:page_title, "All Posts") %>
  <% provide(:post_active, "active") %>

    <div class="d-flex mb-0 px-4">

      <div class="mr-auto">
        <h2 class="font-weight-bold">
          Posts
        </h2>
      </div>
      <div class="mt-auto">
        <small> Today,
          <%= Time.now.strftime('%B %-d, %Y') %>
        </small>
      </div>
    </div>

    <hr class="mt-0">
    <div class="post-index-odogwu px-4 pt-5">
      <% if can? :manage, Post %>
        <%= render 'odogwuindex' %>

          <% else %>
            <%= render 'publicindex' %>
              <% end %>

    </div>

    <%= will_paginate @posts, inner_window: 2, outer_window: 1, class: "flickr_pagination" %>