footer {
  background-color: #2d3035 !important;
  margin-top: 200px;
  flex-shrink: 0;

  p {
    font-size: 0.8em;
    color: rgb(253, 253, 253) !important;
    margin-bottom: 0;
  }
  .footer-row {
    color: rgb(253, 253, 253) !important;
    h5 {
      color: rgb(253, 253, 253) !important;
    }
  }
}
