// container for the homebage background
.wrapper {
  padding-top: 70px;
  
  position: relative;
  margin-bottom: 20px;
}

.homepage {
  padding: 70px;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #A37A6A;
  }
  h1 {
    font-family: 'Iceberg', cursive;
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
  span {
    font-family: 'Raleway Dots', cursive;
    font-weight: bold;
  }
}
.icons-social  {
  padding-top: 10px;
  
  i {
    font-size: 2em;
    color: #A37A6A;
    padding-right: 10px;
    &:hover {
      color: #007BFF;
    }
  }
}

