// container for the homebage background
.wrapper {
  padding-top: 70px;
  
  position: relative;
  margin-bottom: 20px;
}

.homepage {
  padding: 70px;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #A37A6A;
  }
  h1 {
    font-family: 'Iceberg', cursive;
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
  span {
    font-family: 'Raleway Dots', cursive;
    font-weight: bold;
  }
}
.icons-social  {
  padding-top: 10px;
  
  i {
    font-size: 2em;
    color: #A37A6A;
    padding-right: 10px;
    &:hover {
      color: #007BFF;
    }
  }
}

#noticewrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(192, 142, 122, 0.8);
  .alert, .notice {
    padding: 1.14rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(2, 17, 34);
    letter-spacing: 1px;
  
  }
}
