nav {
    opacity: 0.7;
}
.nav-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar {
    border-radius: 0;
    margin-bottom:0;
    background-color: rgba(4, 6, 21, 0.96);
    .navbar-brand {
        font-weight: bolder;
        color: $accent-color;
        .light {
            font-weight: 300;
            color: $primary-color-text;
        }
        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid $primary-color-light;
          }
        
    }
    .navbar-toggler {
        outline: none;
    }
    .nav-link {
      color: $primary-color-light !important;
      &.active {
        color: $primary-color-text !important;
      }
      
    }
    .nav-item {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $primary-color-light;
      }
    }
}

.collapse-bg {
    padding: 0 !important;
    .card {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
}


.collapse-bg .list-group-item {
    padding: 0;
    border-radius: 0 !important;
    border-color: black;
    a {
        background-color: #1a1a1a;
        color: #bdc3c7;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:active {
            color: white;
            border-bottom: none;
        }
    }

    
}

.navbar-link > a {
    &:visited {
        color: $secondary-text-color;
      }
      
      &:hover {
          background-color: $accent-color;
        color: $accent-color;
      }
}