// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-signin {
  width: 100%;
  max-width: 420px !important;
  margin: auto;
}