<footer id="footer">

  <div class="container row my-2">
    <div class="footer-row py-3 mr-5">
      <h5>Contact me</h5>

      <p>
        <strong>Email: </strong>odogwu.naija@gmail.com</p>
      <p>
        <strong>Phone: </strong>+440000000000</p>
      <p>
        <strong></strong>
      </p>

    </div>
    <div class="footer-row py-3 mx-5">
      <div class="icons-social">
        <a target="_blank" href="https://github.com/Odogwudozilla">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="www.linkedin.com/in/chidoziennachor">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://twitter.com/odogwudozilla">
          <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" href="https://stackoverflow.com/story/odogwudozilla">
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a target="_blank" href="https://medium.com/@odogwudozilla">
          <i class="fab fa-medium"></i>
        </a>
        <a target="_blank" href="https://sourcerer.io/odogwudozilla">
          <i class="fab fa-discourse"></i>
        </a>
        <a target="_blank" href="https://bitbucket.org/Odogwudozilla/">
          <i class="fab fa-bitbucket"></i>
        </a>
      </div>
    </div>
    <div class="footer-row py-3 mx-5">© 2018 Chidozie Nnachor. All rights reserved.</div>
  </div>
</footer>