<footer id="footer ">

  <div class="container row my-2">
    <div class="footer-row py-2 mr-5">
      <h5>Contact me</h5>

      <p>
        <strong>Email: </strong>odogwu.naija@gmail.com; chidozie.nnachor.17@aberdeen.ac.uk</p>
      <p>
        <strong>Phone: </strong>+31684798391, +2348061296618</p>
      <p>
        <strong></strong>
      </p>

    </div>
    <div class="footer-row py-2 mr-5">
      <div class="icons-social">
        <a target="_blank" rel="noopener" href="https://github.com/Odogwudozilla">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/chidoziennachor/">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" rel="noopener" href="https://twitter.com/odogwudozilla">
          <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" rel="noopener" href="https://stackoverflow.com/users/6795180/chidozie-nnachor">
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a target="_blank" rel="noopener" href="https://medium.com/@odogwudozilla">
          <i class="fab fa-medium"></i>
        </a>
        <a target="_blank" rel="noopener" href="https://sourcerer.io/odogwudozilla">
          <i class="fab fa-discourse"></i>
        </a>
        <a target="_blank" rel="noopener" href="https://bitbucket.org/Odogwudozilla/">
          <i class="fab fa-bitbucket"></i>
        </a>
      </div>
    </div>
    <div class="footer-row py-2 ">© 2018 Chidozie Nnachor. All rights reserved.</div>
  </div>
</footer>